/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2017, 09:59:01
    Author     : loic
*/

.header{
    height: 100px;
    border-bottom: 1px solid grey;
}
input[type=submit]{
    margin-top: 20px !important;
}
#controls button{
    height:75px;
    line-height: 75px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    color: black;
    border: 0px;
    border-radius: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid gray;
    border-top: 1px solid darkgrey;
    background-color: #636363;
    transition: background-color 0.5s linear;
}
#controls button:hover{
    background-color: #313131;
}
#controls button:focus{
    outline : 0 !important;
    border-right: 2px solid #F5871F;
    background-color: #313131;
}

#form_exemplaire{
    overflow: hidden;
}




table.livres{
    border: 1px solid black !important;
    color : black;
}
table.livres td{
    border: 1px solid black;
}
table.livres tr{
    background-color: white;
    transition: background-color 0.5s linear;
}
table.livres tr:hover{
    background-color: #636363;
}
table.copies{
    border: 1px solid black !important;
    color : black;
}
table.copies td{
    border: 1px solid black;
}
table.copies tr{
    background-color: white;
    transition: background-color 0.5s linear;
}
table.copies tr:hover{
    background-color: #636363;
}